body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 150%;
  background-color: #ffffff;
  min-width: 320px;
  max-width: 1366px;
  width: 100%;
  color: #303030;
  margin: 0 auto;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: inherit;
}

@media (max-width: 1023px) {
  html {
    scroll-behavior: auto;
  }
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
  appearance: none;
  outline: 0;
}

.main-header {
  top: 0;
  left: 0;
  width: 100%;
}

.main-header__background {
  min-height: 906px;
  background:
    url("../img/main-header-background-girl.png") center 20px no-repeat,
    url("../img/main-header-background-israel.png") center 30% no-repeat,
    url("../img/main-header-background.png") center no-repeat;
  background-size: 1366px 906px, 1018px 340px, 1366px 906px;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding-left: 97px;
  padding-right: 97px;
  margin: 32px 0;
  color: black;
}

.main-header__phone {
  text-decoration: none;
}

.main-header__callback {
  text-decoration: none;
  border-bottom: 1px black dashed;
}

.main-header__promo__container {
  margin: 538px auto 0 auto;
  text-align: center;
  width: 350px;
}

.main-header__tip-scroll-down__container {
  display: flex;
  justify-content: center;
}

.main-header__tip-scroll-down {
  margin: 0 auto;
}

.text-black {
  color: black;
}

.text-gray {
  color: #484848;
}

.text-white {
  color: #ffffff;
}

.font-bold {
  font-weight: bold;
}

.font-size-promo {
  font-size: 24px;
}

.opacity-medium {
  opacity: 0.5;
}

.placeholder-button {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 17px;
}

.head-info__container {
  min-height: 906px;
}


.main-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid rgba(72, 72, 72, 0.43);
}

.main-footer__container {
  margin: 0 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

.main-footer__logo {
  width: 85px;
  height: 27px;
}

.gray-picture {
  filter: grayscale(100%);
}

.main-footer__company-name {
  font-size: 12px;
  line-height: 150%;
}

.main-footer__media-buttons__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 112px;
}

.main-footer__social-button {
  width: 24px;
  height: 24px;
  overflow: hidden;
  background: url("../img/sprite-social-buttons.svg") center 0 no-repeat;
}

.main-footer__facebook {
  background-position: 0 0;
}

.main-footer__twitter {
  background-position: -44px 0;
}

.main-footer__instagram {
  background-position: -88px 0;
}
